html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
   line-height: 1.5rem;
}

h1, 
h2, 
h3 {
    color: rgb(120, 12, 40);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline dotted rgb(110, 142, 89) 3px;
    text-underline-offset: 4px;
}

h1 {
    font-size: 3.5rem;
    text-transform: all-caps;
    font-weight: 700;
    letter-spacing: .1rem;
}

h2 {
    font-size: 2rem;
    text-transform: all caps;
    font-weight: 600;
    letter-spacing: .1rem;
}

h3 {
    font-size: 1.5rem;
    text-transform: all-caps;
    font-weight: 500;
    letter-spacing: .1rem;
}

h1::before {
    content: "\1F940 ";
    font-size: 2rem;
}

h2::before {
    content: "\1F940 ";
    font-size: 2rem;
}

h3::before {
    content: "\1F940 ";
    font-size: 2rem;
}


.site-intro {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1rem;
}

.signif-design li {
    list-style-type: "\1F940 ";
    text-indent: .5rem;
}

.site-intro {
    font-size: 1.25rem;
}

nav a:link {
    color: #CAE0BC;
}

nav a:visited {
    color: #780C28;
}

nav a:hover {
    color: #CAE0BC;
    text-decoration: underline;
}

nav a:active {
    color: #bb1b47;
}

nav a:focus {
    color: #87a96b;
}