html {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

nav {
    background-color: mediumpurple;
    margin: 0 auto 10px;
    width: 1100px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

nav li {
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 2px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 20px;
}

nav a:link,
nav a:visited {
    color: white;
}

nav a:hover,
nav a:active {
    background-color: white;
    text-decoration: underline;
    color: mediumpurple;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.parent {
    width: 1100px;
    height: 680px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns each using 1 fraction of overall width) */
    grid-template-rows: repeat(4, 1fr); /* 4 rows each using 1 fraction of overall height) */
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}


.div1 span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 50%;
    color: mediumpurple;
}

.div1 p {
    font-size: 1.5rem;
}

/* grid-area: row-start / column-start / row-end / column-end; */

.div1 { 
    grid-area: 3 / 1 / 5 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 50px;
    color: gray;
}

.div2 { 
    grid-area: 1 / 5 / 3 / 8;
    background-color: black;
}

.div3 { 
    grid-area: 1 / 1 / 3 / 3; 
    background-color: #7218cd;
}

.div4 { 
    grid-area: 1 / 3 / 2 / 5; 
    background-color: silver;
}

.div5 { 
    grid-area: 2 / 3 / 3 / 5; 
    background-color: mediumpurple;
}

.div6 { 
    grid-area: 3 / 5 / 4 / 6; 
    background-color: silver;
}

.div7 { 
    grid-area: 4 / 5 / 5 / 6; 
    background-color: #7218cd;
}

.div8 { 
    grid-area: 3 / 6 / 5 / 8; 
    background-color: mediumpurple;
}

footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}