/*
    font-family: 'Figtree', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
*/

html {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.20rem;
    line-height: 125%;
    color: #8C92AC;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

nav {
    background-color: #AFEEEE;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    padding: 20px;
    display: inline-block;
    color: #8C92AC;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:link,
nav a:visited {
    
}

nav a:hover,
nav a:active {
    background-color: #ffffff;
    color: #AFEEEE;
    text-decoration: underline;
}

main {
    width: 80%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: 'Figtree', sans-serif;
}

h1 {
    font-size: 2rem;
    margin: 6% 0;
    text-align: center;
    text-shadow: 3px 4px 3px #d2d2d2;
}

img {
    float: left;
    max-width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 50%;
    box-shadow: 5px 5px 3px #ccc;
    shape-outside: circle(45%); 
}

header h2 {
    margin-top: 8%;
}

.rate {
    clear: both;
    margin-top: 8%;
    text-align: center;
    font-size: 1rem;
}

.emoji::after {
    content: "\1F60B ";
}

.details,
.ingredients,
.instructions,
.nutrition {
    width: 40%;
    float: left;
}

.details,
.instructions {
    margin-right: 16%;
    margin-left: 2%;
}

blockquote {
    clear: both;
    width: 290px;
    height: 280px;
    padding: 80px 20px 0 20px;
    border-radius: 50%;
    background-color: #cbf4f4;
    outline: dotted 5px #8C92AC;
    outline-offset: 8px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    margin: 40px auto;
}

blockquote small {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}

footer {
    background-color: #AFEEEE;
    color: #8C92AC;
    padding: 2% 0;
    margin-top: 10px;
}

footer a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #8C92AC;
}

footer ul {
    list-style-type: none;
}

.col1,
.col2,
.col3 {
    display: block;
    float: left;
    width: 33%;
}

footer p {
    clear: both;
}


/* media queries go below */

@media (max-width: 360px) {

    html {
        line-height: 135%;
    }
    
    nav a {
        padding: 5px;
        letter-spacing: normal;
        font-size: .9rem;
    }

    nav ul {
        padding-left: 10px;
    }

    main {
        width: 90%;
    }

    h1 {
        font-size: 1.5rem;
        text-shadow: none;
    }

    h2 {
        font-size: 1.2rem;
    }

    img {
        float: none;
        max-width: 60%;
        margin-left: 20%;
    }

    .rate {
        font-size: 1rem;
    }

    .details,
    .ingredients,
    .instructions,
    .nutrition {
        width: 85%;
        float: none;
    } 

    blockquote {
        max-width: 85%;
        max-height: 80%;
    }

    .col1,
    .col2,
    .col3 {
        display: block;
        float: none;
        width: 85%;
    }

/*media query go ends*/
    
@media (max-width: 810px) {

        html {
            font-size: 1rem;
        }

        nav a { 
            padding: 8px;
            letter-spacing: normal;
            font-size: 1rem;
            color: #ffffff;
        }

        nav ul {
            padding-left: 10px;
            font-family: 'Special Gothic Condensed One', sans-serif;
        }

        main {
            width: 100%;
        }

    h1 {
        font-size: 1.5rem;
        font-family: 'Yeseva One', serif;
        text-shadow: none;
        color: #a9a9a9;
    }

    h2 {
        font-size: 1rem;
        font-family: 'Yeseva One', serif;
        text-decoration-line: underline;
        text-underline-offset: 5px;
        line-height: 85%;
        color: #54bdd4;
    }

    img {
        float: none;
        max-width: 55%;
        margin-left: 25%;
    }

    .rate {
        font-size: 1rem;
    }

    .details,
    .ingredients,
    .instructions,
    .nutrition {
        width: 85%;
        float: none;
        color: #a9a9a9;
        font-family: 'Special Gothic Condensed One', sans-serif;
        font-weight: 300;
        font-style: normal;
    } 

    blockquote {
        max-width: 85%;
        max-height: 80%;
        font-family: 'Special Gothic Condensed One', sans-serif;
        font-size: 1.3rem;
        font-weight: 300;
        margin: 40px auto;
        background-color: #b8f5f5;
    }

    blockquote small {
        font-family: 'Parisienne', cursive;
        font-size: 1.5rem;
    }

    .col1,
    .col2,
    .col3 {
        display: block;
        float: none;
        width: 85%;
        font-family: 'Special Gothic Condensed One', sans-serif;
    }
}